/* 头部 */
#head {
	width: 1349px;
	height: 36px;
	background: #f9f9f9;
}

#head ul.leftBox {
	float: left;
	margin-left: 75px;
}

#head ul.leftBox li {
	float: left;
	padding: 6px 0;
}

#head ul.leftBox li a {
	padding: 0 8px;
	line-height: 24px;
}

#head ul.leftBox li a:hover {
	color: red;
}

#head ul.leftBox li span {
	display: inline-block;
	height: 10px;
	width: 1px;
	background: #d3d3d3;
}

#head ul.rightBox {
	float: right;
	margin-right: 75px;
}

#head ul.rightBox li {
	float: left;
	padding: 6px 0;
}

#head ul.rightBox li a {
	padding: 0 8px;
	line-height: 24px;
}

#head ul.rightBox li a:hover {
	color: red;
}

#head ul.rightBox li span {
	display: inline-block;
	height: 10px;
	width: 1px;
	background: #d3d3d3;
}

.colorCat {
	background: #f2f2f2;
}



/* 尾部 */
#foot{
	width: 1349px;
	height: 396px;
	background: #f9f9f9;
	padding-left: 75px;
}
#foot .top{
	width: 1199px;
	height: 82px;
	border-bottom: 1px solid #e5e5e5;
}
#foot .top div{
	float: left;
	width: 299px;
	line-height: 82px;
	font-size: 18px;
	color: #3a3a3a;
}

#foot .center{
	height: 209px;
	width: 1199px;
	border-bottom: 1px solid #e5e5e5;
}
#foot .center ul{
	float: left;
	width: 920px;
	height: 160px;
	border-right: 1px solid #e5e5e5;
	margin-top: 23px;
}

#foot .center ul li{
	float: left;
}
#foot .center ul li h3{
	font-size: 14px;
	line-height: 28px;
	font-weight: bold;
	color: #333333;
}
#foot .center ul li h5{
	color: #777777;
	line-height: 22px;
}
#foot .center ul li a{
	display: block;
	width: 153px;
}

#foot .center ul li a:hover{
	color: red;
}
#foot .center .contact{
	float: left;
	text-align: center;
	margin: 32px 0 0 32px;
}
#foot .center .contact h3{
	font-size: 22px;
	font-weight:bold;
	color: #575757;
}
#foot .center .contact p{
	color: #575757;
	margin-top: 14px;
}
#foot .center .contact a{
	width: 170px;
	height: 34px;
	display: block;
	border-radius: 17px;
	background: #333333;
	color: white;
	line-height: 34px;
	margin-top: 14px;
}
#foot .center .contact div{
	margin-top: 14px;
	color: #575757;
}
#foot .bott .lef{
	float: left;
	width: 102px;
	height: 103px;
	border-bottom: 1px solid black;
}
#foot .bott .mid{
	float: left;
}
#foot .bott .mid p a{
	float: left;
}
